1.project_zero/src/main/mule/1.project_zero.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7bcebe4e-d8e2-4613-b6c7-49186710920d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="1.project_zeroFlow" doc:id="f57bc272-b5e6-42e3-89ce-0da0bfee3151" >
		<http:listener doc:name="Listener" doc:id="1309bbd6-5ec1-454d-87bd-926931f5efa9" config-ref="HTTP_Listener_config" path="/project-zero" allowedMethods="GET">
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="1d971c44-9831-4c70-a9d4-ee02b818cb2c" />
		<set-payload value='#["hello world from payload"]' doc:name="Set Payload" doc:id="1b10b6ba-cd34-4d11-9717-6df7d56f228f" />
	</flow>
</mule>
